n8n_arabaonerisistemi.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "AI Agent Kurulum Mesajı (Araç Tavsiyesi için)\n\n    Görev:\n    Kullanıcının ihtiyaçlarına göre verisetini kullanarak araç tavsiyesi vermek verisetinin dışına çıkmamak.\n\n    Veri Kaynağı:\n    Tüm araç bilgileri Pinecone üzerinde saklanan bir vektör veritsetinden alınmalıdır. Veritabanı dışı bilgi kullanılmamalıdır.\n\n    Yanıt Biçimi:\n    – Yalnızca araç isimlerini öner.\n    – TL cinsinden fiyatlara göre değerlendir.\n    – Yanıtları Türkçe ver.\n    – Her seferinde en fazla 1 ila 3 araç öner.\n    – Bilgi eksikse, kısa ve kibarca kullanıcıdan iste.\n\n    Tarz:\n    – Profesyonel ama samimi.\n    – Gereksiz detay veya uzun açıklamalardan kaçın.\n    – Kullanıcı ne istiyorsa, sadece o doğrultuda yanıt ver."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1260,
        -100
      ],
      "id": "99d3139b-dcc4-482b-88e3-d1e05b1d4ede",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-thinking-exp-1219",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1100,
        100
      ],
      "id": "43ff3bc0-3ce7-4268-a19d-726e6fb975ae",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "KLySX8AkGQhoc9AG",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=123"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1260,
        120
      ],
      "id": "abd02b89-6e5a-455b-ad48-0b44eee243ad",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/1X3g7yJR4Iie-YmPD2uTzOl3IaWLMfujZ/view?usp=sharing",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1220,
        -680
      ],
      "id": "903f648d-f0bf-4108-a6f6-03120d3b3fa0",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "w9SueZRdgIgomgbj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "arabalarveri",
          "mode": "list",
          "cachedResultName": "arabalarveri"
        },
        "options": {
          "pineconeNamespace": "ADS"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        1400,
        -680
      ],
      "id": "7eb38fef-8c70-46fd-8a97-84d0b445f80e",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "pfJQ28E52ahX3Dkg",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1400,
        -480
      ],
      "id": "a10e06be-ac90-49c0-b2c5-10357ac2dbc8",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1240,
        -460
      ],
      "id": "29385c2c-5664-4c65-a4a1-963fdf9be59f",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "KLySX8AkGQhoc9AG",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "name": "arababilgileri_veriseti",
        "description": "araba önerileri yapmak için kesinlikle bu verisetini kullan bunun dışına çıkma"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        1400,
        100
      ],
      "id": "d6d7623a-bff3-48d8-98e0-2404cd75db6b",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-thinking-exp-1219",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1480,
        280
      ],
      "id": "0049f983-78dc-483a-b669-8dbe5173f921",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "KLySX8AkGQhoc9AG",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "arabalarveri",
          "mode": "list",
          "cachedResultName": "arabalarveri"
        },
        "options": {
          "pineconeNamespace": "ADS"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        1180,
        320
      ],
      "id": "8b634955-7b18-42e6-ba5e-12bddf707031",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "pfJQ28E52ahX3Dkg",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1140,
        460
      ],
      "id": "4709d585-6d76-4cb1-a5f3-bf650c44292c",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "KLySX8AkGQhoc9AG",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1420,
        -300
      ],
      "id": "3332d94f-da23-49d8-bc39-c31d60914712",
      "name": "Recursive Character Text Splitter",
      "notesInFlow": false
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        400,
        -240
      ],
      "id": "c523eb9f-ec0b-4eba-83bf-e00d43346fb9",
      "name": "Webhook1",
      "webhookId": "b31ef938-8811-4591-a001-2ca0dd1f962c"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1700,
        -120
      ],
      "id": "208512d2-f768-4bdd-b326-14545e8efba1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"reply\": \"HATA\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1700,
        40
      ],
      "id": "56158914-8fec-41ff-8aa2-b9f96d96e832",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "body",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        -100
      ],
      "id": "be99dec4-c988-42fe-833c-8cee8483bebd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "384f66a3-c644-4c59-a437-35efd374ea65",
              "name": "prompt",
              "value": "={{$json[\"body\"][\"prompt\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        740,
        -100
      ],
      "id": "a4c44c9e-9d3b-44f2-8e06-8bbf9c0d99f1",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a2b238aa-b545-44fb-bb5d-6fd1626da92d",
              "leftValue": "={{ $json.prompt }}",
              "rightValue": "guncelle_veri",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        920,
        -260
      ],
      "id": "2a826254-03ff-4744-97e0-477b8a4e8e16",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"output\": \"veri_guncel\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1720,
        -680
      ],
      "id": "c90b6e10-8606-4414-af25-17f8f9817cf2",
      "name": "Respond to Webhook2"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2f37777e-eceb-4750-bc3d-f97ecb6b1caf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed0f09d3704f48e2b222f6cf08447ae8696c24ec8ddcaea75b0519188af823ba"
  },
  "id": "k3nfVslCmvVwzyjy",
  "tags": []
}